/**
 * Navigation
 **/
$nav-header-height: 9.7rem;
$nav-dropdown-bg: $black;
$nav-mobile-bg: $black;
$nav-mobile-dropdown-bg: $light_black;


.nav {

	&__list {
		list-style: none;
	}

	&__item {
		position: relative;

		@include mq(sm) {
			float: left;
		}
	}

	&__link {
		display: block;
		padding: 1.5rem;
		line-height: 1;
		white-space: nowrap;
		color: $light_black;
		font-size: 1.2rem;
		font-weight: 500;
		letter-spacing: .3rem;
		text-transform: uppercase;
		&:hover{
			text-decoration: none;
			color:$light_black;
		}
		@include mq(sm) {
			padding: 1rem 2rem;
			margin-left: 1.5rem;
			color:$light_black;

			&:after{
				content: '';
				position: absolute;
				top: 80%;
				left: 3.5rem;
				background: $gold_dark;
				width: calc(100% - 5.5rem);
				height: .2rem;
				transition: .6s ease all;
				transform: scale(0);
			}
		}

		// Active/hover state
		.is-active > &,
		&:hover {
			@include mq($until: sm) {
				background: $offred;
				color: $light_black;
			}

			@include mq(sm) {
				&:after{
					transform: scale(1);
				}
			}
		}

		// Dropdown caret
		&-caret {
			display: inline-block;
			margin-left: .3rem;

			&::before {
				content: '\f107';
				@extend %icon;
			}
		}
	}

	// Dropdown
	&__dropdown {
		display: none;
		list-style: none;
		background-color: $nav-mobile-dropdown-bg;

		@include mq(sm) {
			position: absolute;
			z-index: 9999;
			top: 100%;
			left: 0;
			min-width: 100%;
			background-color: $nav-dropdown-bg;
		}

		// Open state
		.is-open > & {
			display: block;
		}

		// Child items
		.nav__item {
			float: none;
		}
	}



	/**
	 * Mobile menu panel
	 **/

	&--mobile {
		@include mq($until: sm) {
			position: fixed;
			z-index: 8888;
			top: $nav-header-height;
			left: 0;
			height: calc(100% - #{$nav-header-height});
			width: 100%;
			transform: translateX(-100%);
			transition: all .6s ease;
			background: $offwhite;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {
				body.is-fixed {
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;
				}
			}
		}
	}



	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		top: 30%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;
		@include mq($until: sm){
			display: none !important;
		}


		&__label {
			display: inline-block;
			color: $toggle-label-color;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: $toggle-width;
			height: $toggle-height;
			background: $toggle-bg;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: $toggle-height;
				background: $toggle-bg;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.7rem;
			}

			&::after {
				top: -.7rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg);
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}
