/**
 * Colours
 **/

$black: #000;
$white: #fff;
$offwhite:#eaedf0;
$gray:#888888;
$gray-dark:#666;
$logo-color:#51ba6f;

$gray-light:#ccc;
$cream:#ded0c3;


$colour-text: $gray;
$colour-heading: $gray;


/**
 * Section themes
 * Classes are generated in _sections.scss
 **/

$section-themes: (
	// black: (bg: $black, color: $white, header-color: $white),
);


/**
 * Fonts
 **/

$body: "diavlo",sans-serif;
$heading: "diavlo",sans-serif;



/**
 * Z-indexes
 **/

$z-nav-toggle: 900;
$z-nav-mobile: 800;



/**
 * Mobile navigation toggle
 **/

$toggle-bg: $white;
$toggle-label-color: $toggle-bg;
$toggle-height: .3rem;
$toggle-width: 2.5rem;



/**
 * Media queries - breakpoints
 **/

$grid-breakpoints: (
	xs:	480px,
	sm:	768px,
	md:	992px,
	lg:	1200px
);



/**
 * Grid settings
 **/

$grid-columns: 12;
$grid-gutter-width: 3rem;

// Container widths
$container-widths: (
	sm: 75rem,
	md: 97rem,
	lg: 117rem
);
