.about{
  background: $offwhite;
  margin-top: 12rem;



  &__title{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 100%;
    padding: 6rem 0;

  }
  &__portrait{
      display: inline-block;
      border: .5rem solid $light_black;
      margin-left: 1.5rem;
      @include mq(md){
      margin-left: 8rem;

      }

  }
  &__image{
    transition: .5s ease all;
    &:hover{
      @include shadow;
    }

  }

  &__text-title{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2rem;

  }
  &__text{
    font-size: 1.4rem;
    font-weight: 300;

  }

  &__cv{

    &-btn{
      color: $light_black;
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
      border: .1rem solid $white;
      margin-top: 2rem;
      background: $green;
      color: $white;
      padding: .2rem 1rem;
      transition: .5s ease all;
      margin-bottom: 4rem;

      &:hover{
        background: $white;
        color: $light_black;
        border: .1rem solid $green;

      }
    }
  }

  &__info{
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }


  &__skills-title{
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 2rem 0;
    font-weight: 700;
    color: $light_black;
  }
  &__logos{
    background: $white;
    padding-top: 1rem;
    border-bottom: .2rem solid $offwhite;
  }
  &__logo{
    padding-left:2.5rem;
    @include mq($until: md){
    padding-left: 3rem;
    }
    @include mq($until: sm){
    padding-left: 1rem;
    }
  }

  &__devicon{
    font-size: 4rem;
    color: $offwhite;
    transition: 1s ease all;
    &:hover{
      color: $green;
    }
  }
}
// skill bar styles
#bars {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
}

.bar {
  flex: 1 1 8%;
  text-align: center;
  @include mq($until: md){
    flex: 1 1 16%;
  }
  @include mq($until: sm){
    flex: 1 1 25%;
  }

}

.bar-circle {
	display: block;
  margin: 1rem auto;
}
