.footer {
		background: $offwhite;
		height: auto;
		text-align: center;
		padding: 6rem 0;
		&__top{
			display: inline-block;
			border: .1rem solid $light_black;
			background: $white;
			color: $light_black;
			cursor: pointer;
			opacity: .7;
			margin-top: 3rem;
			padding: .5rem 1.6rem;
			font-size: 2rem;
			transition: 1s ease all;
			&:hover{
				color: $white;
				background: $light_black;
			}
		}

		&__logo{
			display: block;
			margin: 0 auto;
			width: 6rem;
			padding-top: 3rem;
		}
		&__name{
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 700;

		}
		&__date{
			font-size: 1.2rem;
			font-weight: 400;
		}

}
