/**
 * Gallery
 **/
#gallery{
	margin-top: 5rem;
	margin-bottom: 4rem;
}
.gallery {
	&__h{
		color: $gold_dark;
		font-size: 3.4rem;
		font-weight: 700;
		padding: 10rem auto;
		text-align: center;
		text-transform: uppercase;
		@include mq($until: xs){
			font-size: 2.2rem;
			padding: 5rem auto;
		}
	}
	&__p{
		text-align: center;
		padding: 1rem 0rem;
	}
	&__wrap{
	padding: 0rem .2rem;
	margin: 2px 0px;
	}
	&__image{
		background: $white;
		& img{
			width: 100%;
			display: block;
			@include mq($until: md){
				width: 50%;
				margin-left: 25%;
			}
		}
	}
}
