/**
 * Gallery
 **/

$gallery-spacing: 1rem;

.gallery {

	&__list {
		display: flex;
		flex-flow: row wrap;
	}

	&__item {
		width: 100%;
		height: auto;
		padding: $gallery-spacing / 2;

		@include mq(320px) {
			width: percentage(1/1);
		}

		@include mq(xs) {
			width: percentage(1/2);
		}

		@include mq(md) {
			width: percentage(1/2);
		}

		@include mq(lg) {
			width: percentage(1/4);
		}
	}

	&__link {
		@include gallery-overlay(
			$background: rgba($offwhite, .6),
			$icon: '\f067',
			$color: $light_black,
			$font-size: 2rem
		);
	}

	&__title{
		text-align: center;
		font-size: 3.5rem !important;
		color: $light_black;
		font-weight: 700;
		padding-top: 10rem;
		padding-bottom: 4rem;
	}
	&__caption {

	}
}
