/**
	 * Site header
	 **/

	.header {
	position:relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	z-index: 50;
	background: $offwhite;
	@include mq(sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	&__logo {

		margin-bottom: 2rem;
			// acpect_ratio($width, $height, $url:'logo.svg', $xs:'', $sm:'', $md:'', $lg:'')
			@include acpect_ratio( 18rem, 9rem, $xs:14rem/1 );
			@include bg-size(contain);

			@include mq(md){
				margin: 0 auto;
			}
		}

		&__nav{
			display: flex;
			justify-content: center;
			flex-grow: 1;
			width: 100%;
			padding: 2rem 0;

		}

		&__nav.sticky-header{
			position: fixed;
			background: $offwhite;
			width: 100%;
			z-index: 100;
			top: 0;
			left: 0;
		}



	}
	.shifted {
		margin-top: 7.2rem;
	}
